<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
    <link href="../static/styling.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    <h1 class="form_title">Log In</h1>   
    <p class="res">{{response}}</p>
    <form id="log_in_form"   method="get" action="/logincheck">
        <div>        
        <label> name</label>
        <input type="text"  name="ui_name" maxlength="15" pattern="[A-Za-z ]+" title="Enter text only" required>
        </div>
        <div>
        <label> password</label>
        <input type="password"  name="ui_pass" maxlength="15" required>
        </div> 
        <input type="submit" id="log_in_button" value="log in" >
        </form>
        
    <div class="last"> 
    <p > Don't have an account ?
        let's create one... 
     </p>
    <button  id="create_account_button" ><a href="/signup">Sign Up</a></button>
    </div>   

</div>    
    
    
</body>
<script src="../static/script.js"></script>
</html>