/* general */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #eee;
    display: flex;
    font-family: sans-serif;
    padding: 5%;
}
.container , .story_card{
    margin: auto;
    padding: inherit;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 9px 11px 16px #0000007a;
    text-align: center;
}

/* home */

nav {
padding: 3%;
position: absolute;
display: block;
top: 0;
height:    334px; ;
width: 100%;
background-color: white;
text-align: left;
}
img{
    position: absolute;
    top: 0;
    right: 0;
    mask-image: linear-gradient(to right, transparent 2%, black 10%);
}
nav button{
    display: inline-block;
    width: 9%;
    height: 40px;
    margin: 1%;
    font-size: 161%;
}

nav p{
    font-size: 220%;
    margin: 1.5%;
    /* margin-top: 20px; */
    
}
#home{
    padding: 0;
    margin: 0;
    text-align: center;
}

#stories_container{
    position: absolute;
    top: 400px;
    width: 100%;
    text-align: center;
}
.story_card{
    width: 18%;
    display: inline-block;
    max-height: 300px;
    min-height: 300px;
    padding: 1%;
    margin: 2%;
}

/* all forms (login-logout-add-edite) */
.form_title , .res {
margin-bottom: 5%;
}

.last{
    margin-top: 6%;
}

input[type="text"], input[type="password"] ,.story_element {
    margin: .7%;
    width: 100%;
    height: 27px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #e5a666;
    text-align: center;
}

.story_element{
    margin-top: 5%;
    height: fit-content;
    font-size: 93%;
    padding: 9%;
    border-radius: 4px;
    }
input[type="submit"]:hover, button:hover , a :hover {
    opacity: .7;
}

input[type="submit"], button , a {
    margin: 2%;
    width: 28%;
    height: 29px;
    background-color: #ff6417;
    color: white;
    border-radius: 9px;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 94%;

}
