/* general */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #e6f4f9;
    display: flex;
    font-family: sans-serif;
    padding: 5%;
}
.container , .story_card{
    margin: auto;
    padding: inherit;
    width: 70%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 9px 11px 16px #0000007a;
    text-align: center;
}

/* home */

nav {
padding: 2%;
position: absolute;
display: block;
top: 0;
height: 350px; 
width: 100%;
background-color: white;
text-align: left;
z-index: -2;
}
img{
    position: absolute;
    top: 0;
    right: 0;
    mask-image: linear-gradient(to right, transparent 2%, black 10%);
    z-index: -1;
}
nav button ,nav a ,#rundom_button{
    display: inline-block;
    min-width: fit-content;
    width: 9%;
    height: 40px;
    margin: 1%;
    font-size: 1.5rem;
    text-align: center;
    padding: .5% ;
    box-shadow: 3px 3px 4px #00000065;
}

/* style="background-color: #79a82e;" */


nav p{
    font-size: 244%;
    margin: 1.5%;
    color: #9f4404;
    font-family: cursive;
    background-color: rgba(255, 255, 255, 0.534);
     border-radius: 20px; 
     display: inline-block; 
     width: fit-content;
}
    
.story_card .story_element, .story_card,#dis_cont ,#rundom_button{

    background-color: #FABF4D;
}

#rundom_button{
    position: absolute;
    top: 250px;
    z-index: 4;
    left: 4%;
    width: 15%;
}

#home{
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: -4;
}

#stories_container{
    position: absolute;
    top: 390px;
    padding: 3%;
    width: 100%;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:flex-start;
}
.story_card{
    display: inline-block;
    height: 350px;
    padding: 1%;
    margin: 1.5%;
    width: 17%;
    min-width: 212px;
}

/* all forms (login-logout-add-edite) */
.form_title , .res {
margin-bottom: 5%;
}
.last{
    margin-top: 6%;
}

input[type="text"], input[type="password"] ,.story_element {
    margin: .7%;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #e5a666;
    text-align: center;
}

input { height: 30px;}

.story_element{
    margin-top: 5%;
    height: fit-content;
    font-size: 93%;
    padding: 9%;
    border-radius: 4px;
    }


input[type="submit"]:hover, button:hover , a :hover {
    opacity: .7;
}

input[type="submit"], button , a {
    margin: 2%;
    width: 28%;
    height: 29px;
    background-color: #ff6417;
    color: white;
    border-radius: 9px;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 94%;

}

/* display story */

.story_button{
    font-size: 160%;
    position: relative;
    padding: 4% 12%;
    top: -8px;
    margin: 0px 5% ;
    display: inline-block;
    height: 13%;
    width: auto;
}

#delet_button{
    background-color: #C92A27;
}

#add_story_button{
    background-color: #a5d25e;
}

@media (max-width : 630px) {

    nav{padding: 3%;}

    .story_card{margin: 3%;}

    .story_button {
       
        padding: 2% ;
        margin: 3px 2.5%;
        width: 43%;
    }
}