<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>story</title>
    <link href="../static/styling.css" rel="stylesheet">
</head>
<body>
    <div class="container" id="dis_cont">
        <div id="card_buttons">
            <a  id="edite_button" class="story_button" href="/{{id}}/edit_story">Edit</a>
            <a id="delet_button" class="story_button" href="/{{id}}/delet_story">Delet</a>
        </div>
        
        <h1 class="story_element" style="border: 0cap; font-size :large">{{story.title}}</h1>
        <p class="story_element">{{story.description}}</p>
        <p class="story_element">{{story.content}}</p>
        <p class="story_element">{{story.date}}</p>
        
    </div>
</body>
<script src="../static/script.js"></script>
</html>