<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/styling.css" rel="stylesheet">
</head>
<body>
    <header>
      
    </header>
    <div>
        <div id="card_buttons">
            <button id="edite_button"><a href="/{{id}}/edit_story">Edit</a></button>
            <button id="delet_button"><a href="/{{id}}/delet_story">Delet</a></button>
        </div>
        
        <p id="d_story_title">{{story.title}}</p>
        <p id="d_story_title">{{story.description}}</p>
        <p id="d_story_content">{{story.content}}</p>
        <p id="d_story_id">{{story.date}}</p>
        
    </div>
</body>
<script src="../static/script.js"></script>
</html>