<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/styling.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div>
            <button  id="login_button"><a href="/login">log in</a></button>
            <button  id="sign_button"><a href="/signup">sign up</a></button>
            <button  id="add_story_button"> <a id="ans" href="/add_story" >add new story </a> </button>
            <button  id="logout_button">log out</button>
        </div>
        </nav>
    
    </header>
    <p id="name_p">{{name}}</p>
    <div id="stories_container">
        <!-- display stories from json in cards -->
        {% for story in data['stoies'] %}
        
        <div class="story_card" id="{{loop.index0}}">
        <h3> {{ story.title }}</h3>
        <p class="story_content" > {{ story.description }} </p>
        <p > {{ story.date }} </p>
        </div>
        {% endfor %}
    </div>
    <footer>

    </footer>
</body>
<script src="../static/script.js"></script>
<script src="../static/home_script.js"></script>



</html>