<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/styling.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div>
            <a href="/" class="nav_item">Home</a>
            <a href="/home" class="nav_item">My libreary</a>
            <a href="/prsonal" class="nav_item">Me</a>
            <a href= "/aboutus" class="nav_item">Aboutus</a>

            <button  id="logoutbutton">log out</button>
            <button  id="add_new_story"> <a id="ans" href="/add_story" >add new story </a> </button>
        </div>
        </nav>
    
    </header>
    <div id="stories_container">
        <!-- display stories from json in cards -->
        {% for story in data['stoies'] %}
        
        <div class="story_card" id="{{loop.index0}}">
        <h3> {{ story.title }}</h3>
        <p class="story_content" > {{ story.description }} </p>
        </div>
        {% endfor %}
    </div>
    <footer>

    </footer>
</body>
<script src="../static/script.js"></script>
</html>