<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/styling.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <header>
    
    </header>
    <div id="a">
    <form id="log_in_form"   method="get" action="/home">
        <input type="text" id="user_name_box">
        <input type="password" id="pass_wored_box">
        <input type="submit" id="log_in_button" value="log in">
        <p>Don't have an account ?</p>
        

    </form>
        <div id="sign_up_form">
            <form method="get" action="/home">
                <h3>sign up</h3>
                <p>enter your name</p>
                <input type="text" id="user_name_new">
                <p>enter your pass word</p>
                <input type="password" id="pass_wored_new1">
                <input type="password" id="pass_wored_new2">
        </div>
    </form>
       
    
    </div>
</body>
<script src="../static/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>