<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styling.css" rel="stylesheet">
    <title>story</title>
</head>
<body>
    <!-- defolt state wtll be editing .... for adding new one javascript will change some values -->
    <h1 id="form_title">Edit Story</h1>
    <div id="story_div">
    <form  action="/{{id}}/post_edited_story" method="get" id="story_form" >
        <label>story title</label>
        <input type="text" id="story_title" name="story_title" value="{{story.title}}">
        <label>story description</label>
        <input type="text" id="story_description" name="story_description" value="{{story.description}}">
        <label>story content</label>
        <input type="text" id="story_content" name="story_content" value="{{story.content}}">
        <input type="submit" id="post_story" value="post">
    </form>
    
</div>

    
</body>
<script  src="../static/script.js"></script>
</html>