<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>story</title>
</head>
<body>
    <h1>new story</h1>
    <!-- <button id="post_story">post</button> -->
    <form action="/post_story" method="get" >
        <input type="number" id="story_id">
        <input type="text" id="story_title" >
        <input type="text" id="story_content" >
        <input type="submit" id="post_story" value="post">
    </form>

    
</body>
<script  src="../static/script.js"></script>
</html>