<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styling.css" rel="stylesheet">
    <title>story</title>
</head>
<body>
    <!-- defolt state wtll be editing .... for adding new one javascript will change some values -->
    
    <div class="container">
        <h1 class="form_title">Edit Story</h1>
    <form  action="/{{id}}/post_edited_story" method="get" id="story_form" >
        <label>story title</label>
        <input type="text" class="story_element" name="story_title" value="{{story.title}}" maxlength="30">
        <label>story description</label>
        <input type="text" class="story_element" name="story_description" value="{{story.description}}" maxlength="100">
        <label>story content</label>
        <input type="text" class="story_element" name="story_content" value="{{story.content}}" maxlength="1500">
        <input type="submit" id="post_story" value="post">
    </form>
    
</div>

    
</body>
<script  src="../static/script.js"></script>
</html>